TARGET_CHANNEL=
SOURCE_CHANNEL_1=
SOURCE_CHANNEL_2=
LOGS_CHANNEL=
DM_CHANNEL=
API_ID=
API_HASH=
TARGET_CHANNEL_TEST=
SOURCE_CHANNEL_1_TEST=
SOURCE_CHANNEL_2_TEST=
TEST_TARGET_GROUP_1=
TEST_TARGET_GROUP_2=
PHONE_NUMBER=
